/*
	文字颜色
*/
.red {
  /*color: #c00*/
  /* color: #f44336; */
  color: #ff0000;
  
}
.pink {
  color: #e91e63;
}
.purple {
  /* color: #9c27b0; */
  color: #800080;
}
.deep-purple {
  color: #673ab7;
}
.indigo {
  color: #3f51b5;
}
.blue {
  /* color: #2196f3; */
  color: #005ea7;
}
.light-blue {
  color: #03a9f4;
}
.cyan {
  color: #00bcd4;
}
.teal {
  color: #009688;
}
.green {
  /* color: #4caf50; */
  color: #008000;
}
.light-green {
  color: #8bc34a;
}
.lime {
  color: #cddc39;
}
.yellow {
  /* color: #ffeb3b; */
  color: #ffff00;
}
.amber {
  color: #ffc107;
}
.orange {
  /* color: #ff9800; */
  color: #ffa500;
}
.deep-orange {
  color: #ff5722;
}
.brown {
  color: #795548;
}
.blue-grey {
  color: #607d8b;
}
.grey {
  color: #9e9e9e;
  /* color: #808080; */
}
.silver {
  color: #c0c0c0;
}
.snow {
  color: #fffafa;
}
