.lightTheme1 {
  .app-btn[color="green"] {
    background-color: #1aad19;
    color: #fff;
  }
  .app-btn[color="red"] {
    background-color: #e64340;
    color: #fff;
  }
  .app-btn[color="yellow"] {
    background-color: #f08713;
    color: #fff;
  }
  .app-btn[color="grey"] {
    background-color: #989898;
    color: #fff;
  }
}

