/*
	浮动
*/
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
/*
	省略号
*/
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
/*
	元素隐藏
*/
.hidden {
  visibility: hidden;
}
.hide {
  display: none;
}
.show {
  display: block;
}

/*
	其他
*/
.line {
  height: 0;
  position: relative;
  border-top: 1px solid #efefef;
  font-size: 0px;
}
.pointer {
  cursor: pointer;
}
.img-circle {
  border-radius: 50%;
}
.square {
  position: relative;
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100%;
  text-align: center;
}

.square img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/*
	图片正方形
	<a class="img-square"><img src=""></a>
*/
.square {
  display: block;
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  transition: all 0.3s ease 0s;
  background: #efefef;
}
.square img {
  display: block;
  height: 100%;
  max-width: 100%;
  opacity: 1;
  transition: all 0.5s ease 0s;
  width: 100%;
  position: absolute;
}
/*
	页面布局
*/
#app,
.app-wrapper {
  color: #2c3e50;
  height: 100%;
  width: 100%;
  position: relative;
}
.app-main {
}
.app-header:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

/*
	下拉三角形
*/
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #333;
  margin-left: 10px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.open .arrow-down {
  transform: rotate(180deg);
}
.arrowDown {
  display: inline-block;
  height: 9px;
  width: 9px;
  border-width: 1px 1px 0 0;
  border-color: #000;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  position: relative;
  top: -4px;
  margin-left: 10px;
}
.arrowDown.on {
  -webkit-transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  top: 2px;
}
/*
	提示
*/
#warning {
  position: fixed;
  z-index: 8000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#warning > div > span {
  display: block;
  background: #333;
  color: #f1f1f1;
  padding: 5px 20px;
  line-height: 22px;
  border-radius: 4px;
  animation-name: bounceIn;
  -webkit-animation-name: bounceIn;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.18s;
  animation-duration: 0.18s;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*
	没有数据
*/
.nodata {
  position: relative;
  background: #fff;
  min-height: 200px;
}
.nodata > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*
	uploader上传
	<div class="uploader">
		<input type="file">
	</div>
*/
.uploader::before {
  height: 39.5px;
  width: 2px;
}
.uploader::before,
.uploader::after {
  background-color: #d9d9d9;
  content: " ";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.uploader::after {
  height: 2px;
  width: 39.5px;
}
.uploader::before,
.uploader::after {
  background-color: #d9d9d9;
  content: " ";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.uploader {
  border: 1px solid #d9d9d9;
  float: left;
  height: 77px;
  margin-bottom: 9px;
  margin-right: 9px;
  position: relative;
  width: 77px;
}
.uploader input {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
