/*
	文本颜色
*/
.grey {
  color: #989898 !important;
}
.red {
  color: #ff3f8c !important;
}
.blue {
  color: #5c9ff3 !important;
}
.yellow {
  color: #f08713 !important;
}
.green {
  color: #1aad19 !important;
}
