/*

<div class="app-cells__title">带说明的列表项</div>
<div class="app-cells">
  <div class="app-cell">
    <div class="app-cell__bd">
      <p>标题文字</p>
    </div>
    <div class="app-cell__ft">说明文字</div>
  </div>
  <div class="app-cell app-cell_swiped">
    <div class="app-cell__bd" style="transform: translateX(-68px)">
      <div class="app-cell">
        <div class="app-cell__bd">
          <p>标题文字</p>
        </div>
        <div class="app-cell__ft">说明文字</div>
      </div>
    </div>
    <div class="app-cell__ft">
      <a class="app-swiped-btn app-swiped-btn_warn" href="javascript:"
        >删除</a
      >
    </div>
  </div>
</div>

<div class="app-cells__title">带图标、说明的列表项</div>
<div class="app-cells">
  <div class="app-cell app-cell_example">
    <div class="app-cell__hd">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
        alt=""
        style="width: 20px; margin-right: 16px; display: block"
      />
    </div>
    <div class="app-cell__bd">
      <p>标题文字</p>
    </div>
    <div class="app-cell__ft">说明文字</div>
  </div>
  <div class="app-cell app-cell_example">
    <div class="app-cell__hd">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
        alt=""
        style="width: 20px; margin-right: 16px; display: block"
      />
    </div>
    <div class="app-cell__bd">
      <p>标题文字</p>
    </div>
    <div class="app-cell__ft">说明文字</div>
  </div>
</div>

<div class="app-cells__title">带跳转的列表项</div>
<div class="app-cells">
  <a class="app-cell app-cell_access" href="javascript:">
    <div class="app-cell__bd">
      <p>cell standard</p>
    </div>
    <div class="app-cell__ft"></div>
  </a>
  <a class="app-cell app-cell_access" href="javascript:">
    <div class="app-cell__bd">
      <p>cell standard</p>
    </div>
    <div class="app-cell__ft"></div>
  </a>
</div>

<div class="app-cells__title">带说明、跳转的列表项</div>
<div class="app-cells">
  <a class="app-cell app-cell_access" href="javascript:">
    <div class="app-cell__bd">
      <p>cell standard</p>
    </div>
    <div class="app-cell__ft">说明文字</div>
  </a>
  <a class="app-cell app-cell_access" href="javascript:">
    <div class="app-cell__bd">
      <p>cell standard</p>
    </div>
    <div class="app-cell__ft">说明文字</div>
  </a>
</div>

<div class="app-cells__title">带图标、说明、跳转的列表项</div>
<div class="app-cells">
  <a class="app-cell app-cell_access app-cell_example" href="javascript:">
    <div class="app-cell__hd">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
        alt=""
        style="width: 20px; margin-right: 16px; display: block"
      />
    </div>
    <div class="app-cell__bd">
      <p>cell standard</p>
    </div>
    <div class="app-cell__ft">说明文字</div>
  </a>
  <a class="app-cell app-cell_access app-cell_example" href="javascript:">
    <div class="app-cell__hd">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
        alt=""
        style="width: 20px; margin-right: 16px; display: block"
      />
    </div>
    <div class="app-cell__bd">
      <p>cell standard</p>
    </div>
    <div class="app-cell__ft">说明文字</div>
  </a>
</div>



*/

.app-cells {
  margin-top: 8px;
  background-color: #fff;
  background-color: var(--app-BG-2);
  line-height: 1.41176471;
  font-size: 17px;
  overflow: hidden;
  position: relative;
}

.app-cells:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid var(--app-FG-3);
  color: rgba(0, 0, 0, 0.1);
  color: var(--app-FG-3);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}

.app-cells:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--app-FG-3);
  color: rgba(0, 0, 0, 0.1);
  color: var(--app-FG-3);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}

.app-cells__title {
  margin-top: 16px;
  margin-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(0, 0, 0, 0.5);
  color: var(--app-FG-1);
  font-size: 14px;
  line-height: 1.4;
}

.app-cells__title + .app-cells {
  margin-top: 0;
}

.app-cells__tips {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  color: var(--app-FG-1);
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 1.4;
}

.app-cells__tips a,
.app-cells__tips navigator {
  color: #576b95;
  color: var(--app-LINK);
}

.app-cells__tips navigator {
  display: inline;
}

.app-cell {
  padding: 16px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.app-cell:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid var(--app-FG-3);
  color: rgba(0, 0, 0, 0.1);
  color: var(--app-FG-3);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  left: 16px;
  z-index: 2;
}

.app-cell:first-child:before {
  display: none;
}

.app-cell_active:active {
  background-color: #ececec;
  background-color: var(--app-BG-COLOR-ACTIVE);
}

.app-cell_primary {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.app-cell__bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.app-cell__ft {
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
  color: var(--app-FG-1);
}

.app-cell_swiped {
  display: block;
  padding: 0;
}

.app-cell_swiped > .app-cell__bd {
  position: relative;
  z-index: 1;
  background-color: #fff;
  background-color: var(--app-BG-2);
}

.app-cell_swiped > .app-cell__ft {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  color: #fff;
}

.app-swiped-btn {
  display: block;
  padding: 16px 1em;
  line-height: 1.41176471;
  color: inherit;
}

.app-swiped-btn_default {
  background-color: #ededed;
  background-color: var(--app-BG-0);
}

.app-swiped-btn_warn {
  background-color: #fa5151;
  background-color: var(--app-RED);
}

.app-cell_access {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}

.app-cell_access:active {
  background-color: #ececec;
  background-color: var(--app-BG-COLOR-ACTIVE);
}

.app-cell_access .app-cell__ft {
  padding-right: 22px;
  position: relative;
}

.app-cell_access .app-cell__ft:after {
  content: " ";
  width: 12px;
  height: 24px;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: currentColor;
  color: rgba(0, 0, 0, 0.3);
  color: var(--app-FG-2);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
}

.app-cell_link {
  color: #576b95;
  color: var(--app-LINK);
  font-size: 17px;
}

.app-cell_link:first-child:before {
  display: block;
}

.app-check__label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app-check__label:active {
  background-color: #ececec;
  background-color: var(--app-BG-COLOR-ACTIVE);
}

.app-check {
  position: absolute;
  left: -9999px;
}

.app-cells_radio .app-cell__ft {
  padding-left: 16px;
  font-size: 0;
}

.app-cells_radio .app-check + .app-icon-checked {
  min-width: 16px;
  color: transparent;
}

.app-cells_radio .app-check:checked + .app-icon-checked,
.app-cells_radio .app-check[aria-checked="true"] + .app-icon-checked {
  color: #07c160;
  color: var(--app-BRAND);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.657%2018.435L3%2012.778l1.414-1.414%204.95%204.95L20.678%205l1.414%201.414-12.02%2012.021a1%201%200%2001-1.415%200z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.657%2018.435L3%2012.778l1.414-1.414%204.95%204.95L20.678%205l1.414%201.414-12.02%2012.021a1%201%200%2001-1.415%200z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.app-cells_checkbox .app-check__label:before {
  left: 55px;
}

.app-cells_checkbox .app-cell__hd {
  padding-right: 16px;
  font-size: 0;
}

.app-cells_checkbox .app-icon-checked {
  color: rgba(0, 0, 0, 0.3);
  color: var(--app-FG-2);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M500%20916.667C269.881%20916.667%2083.333%20730.119%2083.333%20500%2083.333%20269.881%20269.881%2083.333%20500%2083.333c230.119%200%20416.667%20186.548%20416.667%20416.667%200%20230.119-186.548%20416.667-416.667%20416.667zm0-50c202.504%200%20366.667-164.163%20366.667-366.667%200-202.504-164.163-366.667-366.667-366.667-202.504%200-366.667%20164.163-366.667%20366.667%200%20202.504%20164.163%20366.667%20366.667%20366.667z%22%20fill-rule%3D%22evenodd%22%20fill-opacity%3D%22.9%22%2F%3E%3C%2Fsvg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M500%20916.667C269.881%20916.667%2083.333%20730.119%2083.333%20500%2083.333%20269.881%20269.881%2083.333%20500%2083.333c230.119%200%20416.667%20186.548%20416.667%20416.667%200%20230.119-186.548%20416.667-416.667%20416.667zm0-50c202.504%200%20366.667-164.163%20366.667-366.667%200-202.504-164.163-366.667-366.667-366.667-202.504%200-366.667%20164.163-366.667%20366.667%200%20202.504%20164.163%20366.667%20366.667%20366.667z%22%20fill-rule%3D%22evenodd%22%20fill-opacity%3D%22.9%22%2F%3E%3C%2Fsvg%3E);
}

.app-cells_checkbox .app-check:checked + .app-icon-checked,
.app-cells_checkbox .app-check[aria-checked="true"] + .app-icon-checked {
  color: #07c160;
  color: var(--app-BRAND);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2022C6.477%2022%202%2017.523%202%2012S6.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010zm-1.177-7.86l-2.765-2.767L7%2012.431l3.119%203.121a1%201%200%20001.414%200l5.952-5.95-1.062-1.062-5.6%205.6z%22%2F%3E%3C%2Fsvg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2022C6.477%2022%202%2017.523%202%2012S6.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010zm-1.177-7.86l-2.765-2.767L7%2012.431l3.119%203.121a1%201%200%20001.414%200l5.952-5.95-1.062-1.062-5.6%205.6z%22%2F%3E%3C%2Fsvg%3E);
}

.app-label {
  display: block;
  width: 105px;
  word-wrap: break-word;
  word-break: break-all;
}

.app-input {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.41176471em;
  line-height: 1.41176471;
}

.app-input::-webkit-outer-spin-button,
.app-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app-input:focus:not(:placeholder-shown) + .app-btn_input-clear {
  display: inline;
}

.app-textarea {
  display: block;
  border: 0;
  resize: none;
  background: transparent;
  width: 100%;
  color: inherit;
  font-size: 1em;
  line-height: inherit;
  outline: 0;
}

.app-textarea-counter {
  color: rgba(0, 0, 0, 0.3);
  color: var(--app-FG-2);
  text-align: right;
  font-size: 14px;
}

.app-cell_warn .app-textarea-counter {
  color: #fa5151;
  color: var(--app-RED);
}

.app-cells_form .app-cell_switch:active,
.app-cells_form .app-cell_vcode:active,
.app-cells_form .app-cell_readonly:active,
.app-cells_form .app-cell_disabled:active {
  background-color: transparent;
}

.app-cells_form .app-cell__ft {
  font-size: 0;
}

.app-cells_form .app-icon-warn {
  display: none;
}

.app-cells_form input,
.app-cells_form textarea,
.app-cells_form label[for] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app-cell_warn {
  color: #fa5151;
  color: var(--app-RED);
}

.app-cell_warn .app-icon-warn {
  display: inline-block;
}

.app-cell_readonly .app-input:disabled,
.app-cell_disabled .app-input:disabled,
.app-cell_readonly .app-textarea:disabled,
.app-cell_disabled .app-textarea:disabled {
  opacity: 1;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
  -webkit-text-fill-color: var(--app-FG-1);
}

.app-cell_readonly .app-input[disabled],
.app-cell_disabled .app-input[disabled],
.app-cell_readonly .app-textarea[disabled],
.app-cell_disabled .app-textarea[disabled],
.app-cell_readonly .app-input[readonly],
.app-cell_disabled .app-input[readonly],
.app-cell_readonly .app-textarea[readonly],
.app-cell_disabled .app-textarea[readonly] {
  color: rgba(0, 0, 0, 0.5);
  color: var(--app-FG-1);
}

.app-btn_input-clear {
  display: none;
  padding-left: 8px;
}

.app-btn_input-clear [class*="app-icon-"] {
  width: 18px;
}

.app-cell_select {
  padding: 0;
}

.app-cell_select .app-select {
  padding-right: 30px;
}

.app-cell_select .app-cell__bd:after {
  content: " ";
  width: 12px;
  height: 24px;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: currentColor;
  color: rgba(0, 0, 0, 0.3);
  color: var(--app-FG-2);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -12px;
}

.app-select {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  font-size: inherit;
  height: 56px;
  line-height: 56px;
  position: relative;
  z-index: 1;
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.9);
  color: var(--app-FG-0);
}

.app-cell_select-before {
  padding-right: 16px;
}

.app-cell_select-before .app-select {
  width: 105px;
  box-sizing: border-box;
}

.app-cell_select-before .app-cell__hd {
  position: relative;
}

.app-cell_select-before .app-cell__hd:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid var(--app-FG-3);
  color: rgba(0, 0, 0, 0.1);
  color: var(--app-FG-3);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.app-cell_select-before .app-cell__hd:before {
  content: " ";
  width: 12px;
  height: 24px;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: currentColor;
  color: rgba(0, 0, 0, 0.3);
  color: var(--app-FG-2);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -12px;
}

.app-cell_select-before .app-cell__bd {
  padding-left: 16px;
}

.app-cell_select-before .app-cell__bd:after {
  display: none;
}

.app-cell_select-before.app-cell_access .app-cell__hd {
  line-height: 56px;
  padding-left: 32px;
}

.app-cell_select-after {
  padding-left: 16px;
}

.app-cell_select-after .app-select {
  padding-left: 0;
}

.app-cell_select-after.app-cell_access .app-cell__bd {
  line-height: 56px;
}

.app-cell_vcode {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.app-vcode-img {
  margin-left: 5px;
  height: 56px;
  vertical-align: middle;
}

.app-vcode-btn {
  display: inline-block;
  height: 56px;
  margin-left: 5px;
  padding: 0 0.6em 0 0.7em;
  line-height: 56px;
  vertical-align: middle;
  font-size: 17px;
  color: #576b95;
  color: var(--app-LINK);
  position: relative;
}

.app-vcode-btn:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid var(--app-FG-3);
  color: rgba(0, 0, 0, 0.1);
  color: var(--app-FG-3);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

button.app-vcode-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.app-vcode-btn:active {
  color: rgba(87, 107, 149, 0.5);
  color: var(--app-LINK-ACTIVE);
}

.app-cell_switch {
  padding-top: 12px;
  padding-bottom: 12px;
}

.app-switch {
  -webkit-appearance: none;
  appearance: none;
}

.app-switch,
.app-switch-cp__box {
  position: relative;
  width: 52px;
  height: 32px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border: 2px solid var(--app-FG-3);
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  -webkit-transition: background-color 0.1s, border 0.1s;
  transition: background-color 0.1s, border 0.1s;
}

.app-switch:before,
.app-switch-cp__box:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  background-color: #f7f7f7;
  background-color: var(--app-BG-3);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1),
    -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}

.app-switch:after,
.app-switch-cp__box:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35),
    -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}

.app-switch:checked,
.app-switch-cp__input:checked + .app-switch-cp__box,
.app-switch-cp__input[aria-checked="true"] + .app-switch-cp__box {
  border-color: #07c160;
  border-color: var(--app-BRAND);
  background-color: #07c160;
  background-color: var(--app-BRAND);
}

.app-switch:checked:before,
.app-switch-cp__input:checked + .app-switch-cp__box:before,
.app-switch-cp__input[aria-checked="true"] + .app-switch-cp__box:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.app-switch:checked:after,
.app-switch-cp__input:checked + .app-switch-cp__box:after,
.app-switch-cp__input[aria-checked="true"] + .app-switch-cp__box:after {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.app-switch-cp__input {
  position: absolute;
  left: -9999px;
}

.app-switch-cp__box {
  display: block;
}

.app-cell_uploader {
  padding-bottom: 24px;
}

.app-cells__group_form:first-child .app-cells__title {
  margin-top: 0;
}

.app-cells__group_form .app-cells__title {
  margin-top: 24px;
  margin-bottom: 8px;
  padding: 0 32px;
}

.app-cells__group_form .app-cells:before,
.app-cells__group_form .app-cell:before {
  left: 32px;
  right: 32px;
}

.app-cells__group_form .app-cells_checkbox .app-check__label:before {
  left: 72px;
}

.app-cells__group_form .app-cells:after {
  left: 32px;
  right: 32px;
}

.app-cells__group_form .app-cell {
  padding: 16px 32px;
}

.app-cells__group_form .app-cell:not(.app-cell_link) {
  color: rgba(0, 0, 0, 0.9);
  color: var(--app-FG-0);
}

.app-cells__group_form .app-cell__hd {
  padding-right: 16px;
}

.app-cells__group_form .app-cell__ft {
  padding-left: 16px;
}

.app-cells__group_form .app-cell_warn input {
  color: #fa5151;
  color: var(--app-RED);
}

.app-cells__group_form .app-label {
  max-width: 5em;
  margin-right: 8px;
}

.app-cells__group_form .app-cells__tips {
  margin-top: 8px;
  padding: 0 32px;
  color: rgba(0, 0, 0, 0.3);
  color: var(--app-FG-2);
}

.app-cells__group_form .app-cells__tips a {
  font-weight: 700;
}

.app-cells__group_form .app-cells__tips_warn {
  color: #fa5151;
  color: var(--app-RED);
}

.app-cells__group_form .app-cell_vcode {
  padding: 12px 32px;
}

.app-cells__group_form .app-vcode-btn {
  font-size: 16px;
  padding: 0 12px;
  margin-left: 0;
  height: auto;
  width: auto;
  line-height: 2em;
  color: #06ae56;
  color: var(--app-BTN-DEFAULT-COLOR);
  background-color: #f2f2f2;
  background-color: var(--app-BTN-DEFAULT-BG);
}

.app-cells__group_form .app-vcode-btn:before {
  display: none;
}

.app-cells__group_form .app-cell_select {
  padding: 0;
}

.app-cells__group_form .app-cell_select .app-select {
  padding: 0 32px;
}

.app-cells__group_form .app-cell_select .app-cell__bd:after {
  right: 32px;
}

.app-cells__group_form .app-cell_select-before .app-label {
  margin-right: 24px;
}

.app-cells__group_form .app-cell_select-before .app-select {
  padding-right: 24px;
  box-sizing: initial;
}

.app-cells__group_form .app-cell_select-after {
  padding-left: 32px;
}

.app-cells__group_form .app-cell_select-after .app-select {
  padding-left: 0;
}

.app-cells__group_form .app-cell_switch {
  padding: 12px 32px;
}
.app-link {
  color: #576b95;
  color: var(--app-LINK);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app-link:visited {
  color: #576b95;
  color: var(--app-LINK);
}
