/*
gallery组件： 搭配上传组件使用
<div class="app-gallery">
    <span class="gallery_img" style="background-image:url(./images/pic_160.png)"></span>
    <div class="gallery_opr">
        <a>删除</a>
    </div>
</div>
*/
.app-gallery {
  display: none;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  z-index: 1000;
}
.app-gallery.show {
  display: block;
}
.gallery_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 44px;
  left: 0;
  background: center center no-repeat;
  background-size: contain;
}
.gallery_opr {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0d0d0d;
  color: #ffffff;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
}
