/*
<div class="app-progress">
    <div class="progress_bar">
        <div class="progress_inner-bar js_progress" style="width: 100%;"></div>
    </div>
    <a class="progress_opr">
        <i class="icon-cancel"></i>
    </a>
</div>
*/
.app-progress {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.progress_bar {
  background-color: #ebebeb;
  height: 3px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.progress_inner-bar {
  width: 0;
  height: 100%;
  background-color: #09bb07;
}

.progress_opr {
  display: block;
  margin-left: 15px;
  font-size: 0;
}
