/*
	<div class="tab">
        <div class="tab_panel">

        </div>
        <div class="tabbar">
            <a class="tabbar_item bar_item_on">
                <span style="display: inline-block;position: relative;">
                    <img src="./images/icon_tabbar.png" alt="" class="tabbar_icon">
                    <span class="badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                </span>
                <p class="tabbar_label">微信</p>
            </a>
            <a class="tabbar_item">
                <img src="./images/icon_tabbar.png" alt="" class="tabbar_icon">
                <p class="tabbar_label">通讯录</p>
            </a>
            <a class="tabbar_item">
                <span style="display: inline-block;position: relative;">
                    <img src="./images/icon_tabbar.png" alt="" class="tabbar_icon">
                    <span class="badge badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
                </span>
                <p class="tabbar_label">发现</p>
            </a>
            <a class="tabbar_item">
                <img src="./images/icon_tabbar.png" alt="" class="tabbar_icon">
                <p class="tabbar_label">我</p>
            </a>
        </div>
    </div>
*/

.tabbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	position: absolute;
	z-index: 500;
	bottom: 0;
	width: 100%;
	background-color: #F7F7FA;
}

.tabbar:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 1px;
	border-top: 1px solid #C0BFC4;
	color: #C0BFC4;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

.tabbar_item {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding: 5px 0 0;
	font-size: 0;
	color: #808080;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tabbar_item.bar_item_on .tabbar_icon,
.tabbar_item.bar_item_on .tabbar_icon>i,
.tabbar_item.bar_item_on .tabbar_label {
	color: #09BB07;
}

.tabbar_icon {
	display: inline-block;
	width: 25px;
	height: 25px;
}

i.tabbar_icon,
.tabbar_icon>i {
	font-size: 24px;
	color: #808080;
}

.tabbar_icon img {
	width: 100%;
	height: 100%;
}

.tabbar_label {
	text-align: center;
	color: #808080;
	font-size: 10px;
	line-height: 1.8;
}
